body {
    font-family: "Noto Sans", sans-serif;
    margin: 20px;
    background-color: #ddd;
    letter-spacing: 0.02rem;
    color: #222;
}

a {
    text-decoration: none;
    border-bottom: 1px dotted #444;
    color: #222;
}

h1, h2 {
    font-weight: normal;
    text-align: center;
}

h1{
    letter-spacing: 0.05rem;
}

h2 {
    margin-top: 0.5rem;
    font-size: 1.3rem;
}

hr {
    width: 30%;
    margin: 2rem auto;
    border: none;
    border-top: 1px solid #bbb;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 110px;
    justify-items: center;
    padding: 20px;
}

.artwork {
    
    border-radius: 3px;
    padding: 10px;
    text-align: left;
}

.artwork img {
    max-width: 100%;
    border-radius: 3px;
    display: block;
}

.artwork p {
    margin: 5px 0;
}

div.paratext {
    padding-top: 0.8rem;
    text-align: left;
}

p.license, p.linkContainer, p.description {
    font-size: 0.8rem;
}

span.icon {
    color: #444;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.left-arrow, .right-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
    z-index: 10;
    opacity: 0.5;
    transition: opacity 0.3s ease;
}

.left-arrow {
    left: 10px;
}

.right-arrow {
    right: 10px;
}

.image-container:hover .left-arrow,
.image-container:hover .right-arrow {
    opacity: 1;
}

.play-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 48px;
    color: white;
    pointer-events: none;
    z-index: 10;
}

@media screen and (max-width: 600px) {
    .play-icon {
        font-size: 36px;
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s;
}

.overlay img {
    max-width: 90%;
    max-height: 90%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.overlay.show {
    visibility: visible;
    opacity: 1;
}

#impressum{
    text-align: center;
}