body {
    font-family: "Arial", sans-serif;
    margin: 20px;
    background-color: #ccc;
    letter-spacing: 0.02rem;
    color: #222;
}

a {
    text-decoration: none;
    border-bottom: 1px dotted #444;
    color: #222;
}


h1, h2{
    font-weight: normal;
}

h2{
    margin-top: 0.5rem;
    font-size: 1.3rem;
}

hr {
    width: 30%;
    margin: 2rem auto;
    border: none;
    border-top: 1px solid #bbb;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.artwork {
    border: 1px solid #bbb;
    border-radius: 3px;
    padding: 10px;
    width: 300px;
    text-align: left;
}

.artwork img {
    max-width: 100%;
    border-radius: 3px;
}

.artwork p {
    margin: 5px 0;
}
div.paratext{
    padding-top: 0.8rem;
}

p.license, p.linkContainer, p.description{
    font-size: 0.8rem;
}

span.icon{
    color: #444;
}
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


.image-container img {
    display: block;
}

.left-arrow, .right-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0); /* Semi-transparent background */
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
    z-index: 10; /* Ensures the arrows sit above other elements */
    opacity: 0.5;
    transition: opacity 0.3s ease;
}

.left-arrow {
    left: 10px; /* Position it to the left edge */
}

.right-arrow {
    right: 10px; /* Position it to the right edge */
}

.image-container:hover .left-arrow,
.image-container:hover .right-arrow {
    opacity: 1; /* Show arrows when hovering over the image container */
}

.play-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    font-size: 48px;
    color: white;
    pointer-events: none;
    z-index: 10;
}

@media screen and (max-width: 600px) {
    .play-icon {
        font-size: 36px;
    }
}

